.bodybg {
      -fx-background-image: url("/Media/logInBG.png")
}

.mainvbox{
      -fx-background-color: transparent;
}

.mainMenubg{
      -fx-background-image: url("/Media/main.jpg")
}

.buttonMain{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: #828282;
}

.buttonMain:focused {
    -fx-border-color: transparent;

}

.buttonMain:pressed {
    -fx-text-fill: white;
}